* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #000000;
    font-family: "Roboto", Arial, sans-serif;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav img {
    margin: 8px 16px;
    max-height: 100px;
    max-width: 100px;
}

nav .right {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 8px 16px 8px auto;
    padding: 0;
}

.right a {
    padding: 8px;
    color: #000000;
}

nav a {
    text-decoration: none;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: lightgray;
}

/* IMAGE */

.image {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: auto;
}

.br-architects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: aliceblue;
    border-radius: 5px;
}

.br-architects strong {
    color: black;
}

/* PROJECTS */

#projects {
    position: relative;
    width: 90%;
    margin: 30px auto;
}

.projects-title {
    font-size: 25px;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}


/* ABOUT */

#about {
    position: relative;
    width: 90%;
    margin: 30px auto;
}

.about-title {
    font-size: 25px;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
}

.about p {
    font-size: 13px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 20px;
}

.about-grid-item img {
    max-width: 100%;
    height: auto;
}

.about-grid-item .name {
    font-size: 15px;
    margin-top: 7px;
}

.about-grid-item .profession {
    font-weight: 400;
    color: gray;
    margin-top: 10px;
}

.about-grid-item a {
    display: block;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 10px;
    margin: auto;
    width: 100%;
    transition: background-color 0.5s;
    text-align: center;
    border: #000000 1px solid;
}

.about-grid-item a:hover {
    background-color: gray;
}

/* CONTACT */

#contact {
    position: relative;
    width: 90%;
    margin: 30px auto;
}

.contact-title {
    font-size: 25px;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
}

.contact-container p {
    font-size: 13px;
}

.contact-form input {
    margin: 5px auto;
    width: 50%;

}

.contact-form button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: border-color 0.2s;
}

.contact-form button:hover {
    background-color: gray;
    border-color: gray;
}

/* MAP */

.map {
    position: relative;
    width: 90%;
    margin: 30px auto;
}

.map img {
    width: 100%;
}

/* FOOTER */

.footer {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.footer-p {
    padding-top: 20px;
}

.contact-container i {
    font-size: 32px;
    margin: 0 10px;
    color: black;
    transition: color 0.3s;
    padding-bottom: 20px;
}

.contact-container i:hover {
    color: grey;
}